
__pycache__
__pycache__/
__pycache__/*
/__pycache__/*
/**/*/__pycache__/*
services/users/project/api/__pycache__/
services/users/project/__pycache__/
services/users/project/api/__pycache__/*
services/users/project/__pycache__/*
node_modules
node_modules/
node_modules/*
/node_modules
/node_modules/
.vscode
.vscode/
.reference
.reference/
env
.env
users/htmlcov/
services/users/htmlcov/
XDG_CACHE_HOME/*
dockerstatus.txt
.jest
.vscode
.jest/
.vscode/
yarn-error.log
.jest/*
.jest/cache/
.jest/cache/*
terraform/provider.tf
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/*
terraform/.terraform/